<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="kr.or.kosta.eterna.qna">

	<!-- Q&A 추가 -->
	<!-- id 값 next.val 로 수정해야함!!!!!!!!!! -->
	<insert id="create" parameterType="QnA">
		INSERT INTO sm_product_answer 
            (id, 
             user_id, 
             product_id, 
             board_id, 
             subject, 
             content, 
             secret_flag,
             group_no, 
             level_no) 
		VALUES     (qna_id_seq.nextval,
            #{userId}, 
            #{productId}, 
            2, 
            #{subject}, 
            #{content},
            #{secretFlag}, 
            qna_id_seq.currval, 
            0)
	</insert>

	<!-- 상품별 Q&A 리스트 -->
	<select id="listItem" resultType="QnA">
	 SELECT user_id     AS userId, 
	 	id,
       product_id  AS productId, 
       TO_CHAR(regdate, 'YYYY-MM-DD HH24:MI') AS regdate,
       subject, 
       content, 
       board_id as boardId, 
       answer_flag AS answerFlag,
       secret_flag AS secretFlag,
       group_no as groupNo,
       level_no as levelNo 
	FROM   SM_product_answer 
	WHERE  product_id = #{productId}
	ORDER BY group_no desc, level_no ASC
	
	</select>
	<!-- Q&A 답글 -->
   <!-- id 값 next.val 로 수정해야함!!!!!!!!!! -->
   <insert id="createComment" parameterType="QnA">
      INSERT INTO sm_product_answer 
            (id, 
             user_id, 
             product_id, 
             board_id, 
             subject, 
             content, 
             group_no, 
             level_no) 
      VALUES     (qna_id_seq.nextval,
            'manager', 
            (select product_id
            from SM_product_answer
            where id=#{id}), 
            2, 
            '답변글 입니다.', 
            #{content}, 
            (select group_no
            from SM_product_answer
            where id=#{id}), 
            1)
   </insert>
   
   <!-- 비밀글에 대한 답글 -->
   <insert id="createSecretComment" parameterType="QnA">
      INSERT INTO sm_product_answer 
            (id, 
             user_id, 
             product_id, 
             board_id, 
             subject, 
             content, 
             group_no, 
             level_no,
             secret_flag) 
      VALUES     (qna_id_seq.nextval,
            'manager', 
            (select product_id
            from SM_product_answer
            where id=#{id}), 
            2, 
            '답변글 입니다.', 
            #{content}, 
            (select group_no
            from SM_product_answer
            where id=#{id}), 
            1,
            1)
   </insert>
	
	<!-- 회원별 Q&A 리스트 -->
	<select id="myList" resultType="QnA">
	 SELECT pa.user_id     AS userId,
	   pa.id, 
       pa.product_id  AS productId, 
       pa.regdate,
       pa.subject, 
       pa.content, 
       pa.board_id as boardId, 
       pa.answer_flag AS answerFlag,
       pa.group_no as groupNo,
       pa.level_no as levelNo,
       p.product_description as productDescription 
	FROM   sm_product_answer pa
	JOIN   sm_product p 
	ON pa.product_id = p.product_id
	WHERE  user_id = #{userId}
	</select>
	
	<!-- 전체 Q&A 리스트 -->
   <select id="listAll" resultType="QnA">
    SELECT user_id     AS userId,
       id, 
       p.product_id AS productId,
       p.product_description AS productDescription,
       regdate,
       subject, 
       content, 
       board_id as boardId, 
       answer_flag AS answerFlag,
       group_no as groupNo,
       level_no as levelNo,
       secret_flag as secretFlag 
   FROM   SM_product_answer a
   join SM_product p 
         ON a.product_id = p.product_id
     where level_no = 0
     order by regdate desc
   </select>
   
   <!-- 답변 등록시 flag 업데이트 -->
   <update id="updateFlag">
   update SM_product_answer
   set answer_flag = 1
   where id = #{id}
   </update>
   
   <!-- 답변 대기중인 Q&A글 갯수 -->
   <select id="newQnA" resultType="int">
   SELECT Count(answer_flag)
   FROM   sm_product_answer 
   WHERE  answer_flag = 0 
   </select>
   
   <!-- 나의 질문글 답변달림 여부 -->
   <select id="alertQnA" resultType="int">
    SELECT Count(*) 
	FROM   sm_product_answer 
	WHERE  answer_flag = 1 
       AND user_id = #{userId} 
   </select>
   
   <!-- 답변글 읽으면 answerFlag 2로 변경 -->
   <update id="updateRead">
   UPDATE sm_product_answer 
	SET    answer_flag = 2 
	WHERE  user_id = #{userId} 
	AND answer_flag = 1
   </update>
</mapper>