@charset "UTF-8";

@media all and (max-width: 800px) {
    .cart-section {
        padding: 2em 0;
    }
    
    .cart-table .product-inform {
      	width: 40%
    }
    
    .cart-section .cart-table .product-price {
      	width: 15%
    }
    
    .cart-table .product-quantity {
      	width: 20%
    } 
    
	.cart-table th, td {
		font-size: 1rem;
	}
	
	.cart-table .all-select {
		width: 15%;
	}
	
	.cart-table .product-name {
		font-size: 1rem;
		font-weight: bold;
	}
}

@media all and (max-width: 530px) {
    .cart-table .product-inform {
      	width: 30%
    }
    
    .cart-section .cart-table .product-price {
      	width: 16%
    }
    
	.cart-table th, td {
		font-size: 1rem;
	}
	
	.cart-table .all-select {
		width: 15%;
	}
	
	.cart-table .product-name {
		font-size: 1rem;
		font-weight: bold;
	}
	
	.product-quantity .btn {
		padding: 0.375rem 0.5rem;
	}
}

.cart-table th {
	text-align: center;
	padding: 1% 0;
}

.cart-table td {
	padding: 2% 0;
	font-weight: bold;
}

.cart-table > thead {
	border-top: solid 0.1em #7971ea;
	border-bottom: solid 0.1em #8c92a0;
}

.cart-table > tbody {
	border-top: solid 0.1em #8c92a0;
	border-bottom: solid 0.1em #8c92a0;
}

.cart-table {
	width: 100%;
}

.cart-button-group {
	margin: 5% auto;
	display: flex;
	max-width: 110px;
}

.cart-section {
    padding: 1em 0; 
}

.product-remove, .cart-button {
	width: 5%;
}

.cart-table .product-price, .all-select {
	width: 10%;
}


.product-quantity {
	width: 15%;
}

.product-inform {
	width: 50%;
}  

.product-thumbnail {
	width: 20%;
	margin: 0 6%;
}

.row .cart-heading {
	color: #5a50e5;
}

.price-right {
	float: right;
}

.name { 
	display: inline-block;
	font-size: 1.5rem;
}

.product-text {
	display: inline-block;
}