@charset "UTF-8";

.icon-bottom {
	margin-top: -1%;
	color: #7971ea;
}

.footer-box {
	margin-left: 1%;
}

.inform-list {
	width: 90%;
}

.fas {
	color: #7971ea;
	font-size: 20px;
}

.company-inform > span {
	padding-left: 20px;
	font-size: 20px;
}