@charset "UTF-8";

/* header CSS */
.site-menu li {
	margin: 0 2%;
}

.site-top-search {
	position: relative;
}

.site-top-search .icon {
	position: absolute;
	left: 0;
	top: 50%;
	font-size: 25px;
	font-family: 'icomoon' !important;
	transform: translateY(-50%);
}

#search-input {
	padding-left: 40px;
}

.search {
	max-width: 100%;
}

.site-navigation .top-dropdown > li {
	min-width: 100px !important;
}

.site-navbar {
	margin-bottom: 0 !important;
}

/* modal CSS */

.modal-content {
	margin-top: 200px;
}

.modal-body {
	padding: 40px 50px;
}

#detail-address {
	margin-top: 1%;
}

.checkbox {
	margin: 1% 1% 0 0;
}

.btn-success {
	margin-top: 1%;
	width: 100%;
}

.btn-cancel {
	width: 100%;
	margin-top: 1%;
}

.user-support {
	display: block;
}

.user-support p {
	display: inline-block;
}

/* fail modal CSS */

.fail-body {
	padding: 0 40px;
}

.fail-content {
	height: 100%;
	padding: 15%;
}

/* order-detail modal CSS */

.detail-modal-dialog {
	max-width: 80%;
}

#in-detail-footer {
	vertical-align: middle;
}

.detail-inform-table {
	width: 100%;
	border: solid 1px #dddfe1;
}

.order-detail-table {
	border: solid 1px #dddfe1;
	margin-top: 2%;
}

.detail-modal-body {
	padding: 5% 10%;
}

.order-input {
	display: inline-block;
}

.inform-td {
	background-color: #fafafa;
}

#in-detail-body {
	vertical-align: middle;
}

#in-detail-side {
	height: 90%;
	margin: auto;
	vertical-align: middle;
	width: 25%;
}

.order-list-number, .order-list-status {
	width: 15%;
	margin: 0;
	border-right: 1px solid #dddfe1;
	border-left: 1px solid #dddfe1;
}

.order-detail-flag {
	padding-top: 10%;
}

.order-detail-tr {
	border-bottom: 1px solid #dddfe1;
}

.order-detail-table td {
	border-right: 1px solid #dddfe1;
}

/* popup을 위한 css */
#popup-message-nonuser-delivery-fail,
#popup-message-login-success,
#popup-message-logout-success,
#popup-message-join-success, 
#popup-message-join-fail, 
#popup-message-PWCheck-fail,
#popup-message-Userupdate-success, 
#popup-message-emailCheck-success, 
#popup-message-inputPW, 
#popup-message-emailCheck-fail, 
#popup-message-update-success {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #7971ea;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 50%;
    font-size: 17px;
}

#popup-message-nonuser-delivery-fail.show,
#popup-message-login-success.show,
#popup-message-logout-success.show,
#popup-message-join-success.show, 
#popup-message-join-fail.show, 
#popup-message-PWCheck-fail.show, 
#popup-message-inputPW.show, 
#popup-message-emailCheck-success.show, 
#popup-message-emailCheck-fail.show, 
#popup-message-Userupdate-success.show, 
#popup-message-update-success.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 50%; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 50%; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 50%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}