@charset "UTF-8";

#myVideo {
	width: 80%;
	height: 80%;
}

.site-video-cover {
	height: 100%;
}

.video-cover {
	margin: 0 auto;
	text-align: center;
}

.building {
	padding-right: 20%;
}

.hot-item-image {
	height: 300px;
}

.col-md-12 .owl-carousel .owl-item img {
	width: auto !important;
	margin: 0 auto;
	padding: 10%;
}

.video-section {
	margin-top: 3%;
}