@charset "UTF-8";
/* personalInfo modal */
#okInfoBtn, #cancleCouponBtn {
	font-size: 12px;
	float: right;
	padding: 3%;
	margin-top: 1%;
	width: 100%;
}

#cancleCouponBtn {
	float: none;
}

#info-table * {
	border: solid 1px #dddfe1;
}

#info-table th, #coupon-table th {
	background: #dddfe1;
	color: white;
	text-align: center;
}

#coupon-dialog {
	max-width: 40%;
}

.coupon-list-form {
	display: inline-block;
	width: 100%;
}

#coupon-table * {
	text-align: center;
}

#coupon-table {
	width: 90%;
	margin: 0 auto;
}

.form-group {
	margin: 0;
}