@CHARSET "UTF-8";

.test_page{
	float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.custom_pagination{
	float: right;
}
.product_info{
	list-style: none;
}