@charset "utf-8";
.create {
   float: right;
   margin-bottom: 2%;
}
.detail {
   width: 100%;
   margin-top: 2%;
}

.fa-arrow-alt-circle-up {
   font-size: 50px;
   position: fixed;
   bottom: 100px;
   right: 5px;
   width: 8%;
   color: #7971ea;
}

.btn-group-justified {
   display: table;
   margin: 0 auto;
   width: 90%;
   table-layout: fixed;
   border-collapse: separate;
   margin-bottom: 2%;
   width: 90%
}

.btn-group-justified>.btn, .btn-group-justified>.btn-group {
   float: none;
   display: table-cell;
   width: 1%;
}

.btn-group-justified>.btn-group .btn {
   width: 100%;
}

.btn-group-justified>.btn-group .dropdown-menu {
   left: auto;
}
/* Style the tab */
.tab {
   overflow: hidden;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
   background-color: inherit;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px;
   width: 50%;
   transition: 0.3s;
   font-size: 17px;
   transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
   background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
   background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
   display: none;
   padding: 2% 12px;
   border: 1px solid #ccc;
   border-top: none;
   width:100%;
}

#tab {
   width: 100%;
   margin: 0 auto;
}

.review {
   margin-top: 2%;
   width: 100%;
   border: solid 1px #7971ea;
   border-radius: 10px;
   resize: none;
}



.image-row {
   text-align: center;
}

.test_page{
	float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.custom_pagination{
	float: right;
}
.open-close{
	font-size: 5px;
    color: green;
    cursor: alias;
}

.starR1{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR2{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}

.section_review_list .short_review_area .grade_area .graph_mask {
    display: inline-block;
    width: 78px;
    height: 14px;
    background-position: 0 -61px
}
.section_review_list .short_review_area .grade_area .graph_value {
    display: inline-block;
    width: 78px;
    height: 14px;
    background-position: 0 -76px;
    vertical-align: top
}
.section_review_list .grade_area .graph_mask,.section_review_list .grade_area .graph_value,.section_review_list .short_review_area .review_info .grade:before {
    background-image: url(../images/spr_comment.png);
    background-repeat: no-repeat;
    background-size: 90px 130px
}


