@CHARSET "UTF-8";

@media (min-width: 768px) {
	.site-wrap > .site-section {
	   	padding: 2em 0;
	}
}
.test_page {
	float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.custom_pagination {
	    margin-left: 30%;
}

.product_info {
	list-style: none;
	padding: 0;
}

.img-fluid {
	width: 120px;
	height: 200px;
	margin-top: 8%;
}

.product-list {
	width: 100%; 
	height: 370px;
	
}

li .product-list-text {
	padding: 5% !important;
}

.images-btn {
	cursor: pointer;
	color: red;
}

h6 {
	color: #7971ea!important;
}

li.page.active {
	background-color: #7971ea;
}

li.page.active > a {
	color: white;
}
li.mb-1.active {
	background-color: #7971ea;
}

li.mb-1.active > a {
	color: white;
}

.order-2 {
	width: 100%;
	margin: 0 auto;
}