<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <!-- 회원관리 -->
    <bean type="controller" name="/user/list" class="kr.or.kosta.eterna.user.controller.UserListController" />
    <!-- 구매관리 -->   
    <bean type="controller" name="/buylist" class="kr.or.kosta.eterna.buy.controller.BuyListController" />
    <!-- 리뷰관리 -->   
    <bean type="controller" name="/reviewlist" class="kr.or.kosta.eterna.review.controller.ReviewListController" />
    <!-- 사용자 리뷰 등록 체크 -->
    <bean type="controller" name="/reviewCheck" class="kr.or.kosta.eterna.review.controller.ReviewCheckController" />
    <!-- 사용자 리뷰 등록 -->
    <bean type="controller" name="/reviewCreate" class="kr.or.kosta.eterna.review.controller.ReviewCreateController" />
    <!-- qNa관리 -->   
    <bean type="controller" name="/qnalist" class="kr.or.kosta.eterna.qna.controller.QnAController" />
    <!-- qNa 등록 -->   
    <bean type="controller" name="/qnaCreate" class="kr.or.kosta.eterna.qna.controller.QnACreateController" />
    <!-- 로그인 -->   
    <bean type="controller" name="/login" class="kr.or.kosta.eterna.user.controller.UserLoginController" /> 
    <!-- 로그아웃 -->   
    <bean type="controller" name="/logout" class="kr.or.kosta.eterna.user.controller.UserLogoutController" />
    <!-- 회원가입 -->
    <bean type="controller" name="/join" class="kr.or.kosta.eterna.user.controller.UserJoinController" />
    <!-- 상품 리스트 페이지 -->
    <bean type="controller" name="/product" class="kr.or.kosta.eterna.product.controller.ProductController" />
    <!-- 마이페이지 -->
    <bean type="controller" name="/user/myPage" class="kr.or.kosta.eterna.user.controller.UserPageController" />
    <!-- 주문 상세 페이지 -->
    <bean type="controller" name="/detail" class="kr.or.kosta.eterna.product.controller.ProductDetailController" />
    <!-- 장바구니 관리 -->
    <bean type="controller" name="/cart" class="kr.or.kosta.eterna.cart.controller.CartListController" />
    <!-- 장바구니 추가 -->
    <bean type="controller" name="/addcart" class="kr.or.kosta.eterna.cart.controller.CartCreateController" />
    <!-- 조건 컨트롤러 -->
    <bean type="controller" name="/conditions" class="kr.or.kosta.eterna.product.controller.ProductListByConditionsController" />
    <!-- 인덱스 컨트롤러  -->
    <bean type="controller" name="/eterna" class="kr.or.kosta.eterna.index.controller.IndexController" />
    <!-- 상세페이지 -> 주문페이지(yonghyun) -->
    <bean type="controller" name="/order" class="kr.or.kosta.eterna.payment.controller.PaymentListController" />
    <!-- 카트 삭제 -->
    <bean type="controller" name="/cartDelete" class="kr.or.kosta.eterna.cart.controller.CartDeleteController" />
    <!-- 카트 업데이트 -->
    <bean type="controller" name="/cartUpdate" class="kr.or.kosta.eterna.cart.controller.CartUpdateController" /> 
    <!-- dropdown 선택시 컨트롤러 -->
    <bean type="controller" name="/selector" class="kr.or.kosta.eterna.product.controller.ProductListBySelectorController" />
    <!-- 유저별 쿠폰 조회 --> 
    <bean type="controller" name="/user/coupon" class="kr.or.kosta.eterna.coupon.controller.CouponController" />
    <!-- 카트에서 온 결제페이지 (yonghyun)  --> 
    <bean type="controller" name="/cartpayment" class="kr.or.kosta.eterna.buy.controller.BuyCreateController" />
    <!--  결제페이지 (yonghyun)--> 
    <bean type="controller" name="/payment" class="kr.or.kosta.eterna.buy.controller.BuyCreateController" />
    <!-- 주문번호 상세 페이지 -->
    <bean type="controller" name="/user/orderNumber" class="kr.or.kosta.eterna.user.controller.UserOrderDetailController" />
    <!-- 검색 컨트롤러 by 이철우-->
    <bean type="controller" name="/search" class="kr.or.kosta.eterna.product.controller.ProductSearchController" />
    <!--  개인정보 수정  -->
    <bean type="controller" name="/user/updateInfo" class="kr.or.kosta.eterna.user.controller.UserUpdateController" />
    <!-- 결제창 -->
    <bean type="controller" name="/checkout" class="kr.or.kosta.eterna.payment.controller.PaymentListController" />
    
	<!--비회원 관련 컨트롤러 -->   
    <!-- 비회원 장바구니 쿠키 등록 -->
    <bean type="controller" name="/nonUserAddcart" class="kr.or.kosta.eterna.nonusercart.controller.NonUserCartCreateController"/>
    <!-- 비회원 장바구니 조회  -->
    <bean type="controller" name="/nonUserCartList" class="kr.or.kosta.eterna.nonusercart.controller.NonUserCartListController"/>
    <!-- 비회원 장바구니 삭제  -->
    <bean type="controller" name="/nonUserCartDelete" class="kr.or.kosta.eterna.nonusercart.controller.NonUserCartDeleteController"/>
    <!-- 비회원 단일상품 주문 -->
    <bean type="controller" name="/nonpayment" class="kr.or.kosta.eterna.buy.controller.NonUserBuyCreateController"/>
    <!-- 비회원 장바구니 주문 -->
    <bean type="controller" name="/noncartpayment" class="kr.or.kosta.eterna.buy.controller.NonUserBuyCreateController"/>
    
    
    <!-- 관리자 컨트롤러 -->
    <!--  관리자페이지 -->
    <bean type="controller" name="/admin/index" class="kr.or.kosta.eterna.admin.controller.AdminIndexController" />
    <!-- 관리자 구매내역 관리 -->   
    <bean type="controller" name="/admin/orderlist" class="kr.or.kosta.eterna.admin.controller.AdminOrderListController" />
    <!-- 관리자 후기리스트 관리 -->   
    <bean type="controller" name="/admin/reviewlist" class="kr.or.kosta.eterna.admin.controller.AdminReviewListController" />
    <!-- 관리자 질문답리스트 관리 -->   
    <bean type="controller" name="/admin/qnalist" class="kr.or.kosta.eterna.admin.controller.AdminQnAListController" />
    <!-- 관리자 Q&A 답글 관리 -->
    <bean type="controller" name="/admin/qnacomment" class="kr.or.kosta.eterna.admin.controller.AdminQnACommentController" />
    <!-- 관리자 제고리스트 관리 -->   
    <bean type="controller" name="/admin/stocklist" class="kr.or.kosta.eterna.admin.controller.AdminStockListController" />
    <!-- 관리자 주문내역 상세보기 -->   
    <bean type="controller" name="/admin/orderview" class="kr.or.kosta.eterna.admin.controller.AdminViewOrderDetailsController" />
    <!-- 관리자 유저 상세보기 -->   
    <bean type="controller" name="/admin/userview" class="kr.or.kosta.eterna.admin.controller.AdminViewUserDetailsController" />
    <!-- 관리자 제품 상세보기 -->   
    <bean type="controller" name="/admin/productview" class="kr.or.kosta.eterna.admin.controller.AdminViewStockDetailsController" />
    <!-- 관리자 제품 등록 -->   
    <bean type="controller" name="/admin/productregist" class="kr.or.kosta.eterna.admin.controller.AdminProductRegistController" />
    <!-- 관리자 회원내역 관리 -->
    <bean type="controller" name="/admin/userlist" class="kr.or.kosta.eterna.admin.controller.AdminUserListController" />
    <!-- 관리자 후기 답글 관리 -->
    <bean type="controller" name="/admin/reviewcomment" class="kr.or.kosta.eterna.admin.controller.AdminReviewCommentController" />
    <!-- 관리자 월별 제품 판매량 관리 -->
    <bean type="controller" name="/admin/salesmanage" class="kr.or.kosta.eterna.admin.controller.AdminSaleListController" />
    <!-- 관리자 월별 판매액 관리 -->
    <bean type="controller" name="/admin/salesamount" class="kr.or.kosta.eterna.admin.controller.AdminSaleAmountController" />
    <!-- 관리자 배송 상태 변경 -->   
    <bean type="controller" name="/admin/orderupdate" class="kr.or.kosta.eterna.admin.controller.AdminOrderUpdateController" />
    <!-- 관리자 메인페이지 정보 -->   
    <bean type="controller" name="/admin/newinfo" class="kr.or.kosta.eterna.admin.controller.AdminMainController" />
    
</beans>