<?xml version="1.0" encoding="UTF-8"?>
<beans>
 	<!-- DataSource 설정 -->
<!--	<bean type="component" name="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521"/>
		<property name="username" value="hr"/>
		<property name="password" value="hr"/>
		<property name="initialSize" value="2"/>
		<property name="maxTotal" value="10"/>
		<property name="maxIdle" value="5"/>
	</bean> -->
	
	<!-- Mybatis SqlSessionFactory 설정-->
	<bean type="component" name="sqlSessionFactory" class="kr.or.kosta.eterna.common.factory.SqlSessionFactoryCreator">
		<property name="configLocation" value="mybatis-config.xml"/>
		<property name="environment" value="development"/>
	</bean>
	
	<!-- dao 등록 -->
	<bean type="dao" name="userDao" class="kr.or.kosta.eterna.user.dao.MybatisUserDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>

	<bean type="dao" name="cartDao" class="kr.or.kosta.eterna.cart.dao.MybatisCartDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>

	<bean type="dao" name="buyDao" class="kr.or.kosta.eterna.buy.dao.MybatisBuyDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>

	<bean type="dao" name="reviewDao" class="kr.or.kosta.eterna.review.dao.MybatisReviewDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean type="dao" name="productDao" class="kr.or.kosta.eterna.product.dao.MybatisProductDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean type="dao" name="productImageDao" class="kr.or.kosta.eterna.productImage.dao.MybatisProductImageDao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean type="dao" name="qnaDao" class="kr.or.kosta.eterna.qna.dao.MybatisQnADao">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<!-- 추가 -->
   <bean type="dao" name="userRcmdDao" class="kr.or.kosta.eterna.user.dao.MybatisUserRcmdDao">
      <property name="sqlSessionFactory" ref="sqlSessionFactory" />
   </bean>
   
   <bean type="dao" name="productImageDao" class="kr.or.kosta.eterna.productImage.dao.MybatisProductImageDao">
      <property name="sqlSessionFactory" ref="sqlSessionFactory" />
   </bean>
   
   <bean type="dao" name="fileInfoDao" class="kr.or.kosta.eterna.fileInfo.dao.MybatisFileInfoDao">
      <property name="sqlSessionFactory" ref="sqlSessionFactory" />
   </bean>
      <bean type="dao" name="priceDao" class="kr.or.kosta.eterna.price.dao.MybatisPriceDao">
      <property name="sqlSessionFactory" ref="sqlSessionFactory" />
   </bean>
	
	<!-- service 등록 -->
	<bean type="service" name="userService" class="kr.or.kosta.eterna.user.service.UserServiceImpl">
		<property name="userDao" ref="userDao"/>
	</bean>
	
	<bean type="service" name="cartService" class="kr.or.kosta.eterna.cart.service.CartServiceImpl">
		<property name="cartDao" ref="cartDao"/>
	</bean>
	
	<bean type="service" name="buyService" class="kr.or.kosta.eterna.buy.service.BuyServiceImpl">
		<property name="buyDao" ref="buyDao"/>
	</bean>
	
	<bean type="service" name="reviewService" class="kr.or.kosta.eterna.review.service.ReviewServiceImpl">
		<property name="reviewDao" ref="reviewDao"/>
	</bean>

	
	<bean type="service" name="productService" class="kr.or.kosta.eterna.product.service.ProductServiceImpl">
		<property name="productDao" ref="productDao"/>
	</bean>
	
	<bean type="service" name="productImageService" class="kr.or.kosta.eterna.productImage.service.ProductImageServiceImpl">
		<property name="productImageDao" ref="productImageDao"/>
	</bean>
	
		
	<bean type="service" name="qnaService" class="kr.or.kosta.eterna.qna.service.QnAServiceImpl">
		<property name="qnaDao" ref="qnaDao"/>
	</bean>
	
	<bean type="service" name="adminService" class="kr.or.kosta.eterna.admin.service.AdminServiceImpl">
        <property name="userDao" ref="userDao"/>
        <property name="buyDao" ref="buyDao"/>
        <property name="productDao" ref="productDao"/>
       
        <property name="userRcmdDao" ref="userRcmdDao"/>
        <property name="productImageDao" ref="productImageDao"/>
        <property name="fileInfoDao" ref="fileInfoDao"/>
        <property name="priceDao" ref="priceDao"/>
        <property name="qnaDao" ref="qnaDao"/>
        <property name="reviewDao" ref="reviewDao"/>
    </bean>
	
</beans>